<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDESLKvti9oSmwJ8y0G_-PR9nwQ5iPyXQc</string>
	<key>GCM_SENDER_ID</key>
	<string>722636290289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nket.nket</string>
	<key>PROJECT_ID</key>
	<string>nket-190ff</string>
	<key>STORAGE_BUCKET</key>
	<string>nket-190ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722636290289:ios:29fcab25c7e8be4bd61150</string>
</dict>
</plist>